@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html{
  font-size: min(50% + 1.5vw,20px);;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #171717;
}

button{
  padding: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

.movies-page{
  height: 100%;
}