.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 8vmax;
    row-gap: 6vmax;
    padding: 0 10%;
}

.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.movie-details > *{
    color:white;
    margin-bottom: 10px;
}

.movie-img{
    height: 231px;
}

.add-btn-container{
    margin-top:auto;
}
  
.add-btn{
    font-size: 25px;
    padding: 5px;
}
  
.add-btn:hover{
    background-color:#F6BE00;
    font-weight: bolder;
}

.not-found{
    color: white;
    height: 100%;
}