@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

button{
  padding: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
}

.movie-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 8vmax;
  row-gap: 6vmax;
  padding: 50px 10%;
}

.movies-page{
  background-color: #171717;
}

.not-found{
  color: white;
  height: 100%;
}

.movie-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-container{
  padding: 2%;
  display: flex;
  justify-content: center;
}

.search-bar{
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
}

.add-btn-container{
  margin-top:auto;
}

.add-btn-container > button{
  font-size: 25px;
}

.movie-img{
  height: 231px;
}

.movie-details > *{
  color:white;
  margin-bottom: 10px;
}

.logo{
  height: 6.3rem;
  width: 6.3rem;
}

.header{
  position: fixed;
  width: 100%;
  background-color: #F6BE00;
  padding: 1vmax;
}

.header-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart-icon{
  transform: scale(3);
}

.cart-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}

.logo-container{
  display: flex;
  gap: 6%;
  align-items: center;
}

.nav-links{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.title{
  color: black;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bolder;
}

.cart-count-container{
  position: absolute;
  top: 47px;
  left: 42px;
  background-color: white;
  height: 23px;
  width: 23px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.shopping-cart-sidebar{
  right: 0;
  width: 40vw;
  background-color: #171717;
  height: 100vh;
  position: fixed;
}