@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.movie-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.movie-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-container{
  display: flex;
  justify-content: center;
  margin: 2%;
}

.search-bar{
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
}

.add-btn-container{
  margin-top:auto
}

.movie-img{
  height: 231px;
}